.sk-chase-light {
  width: 50px;
  height: 70px;
  position: relative;
  animation: sk-chase-light 2.5s infinite linear both;
}

.sk-chase-light-dot {
  width: 100%;
  height: 100%;
  position: absolute;

  left: 0;
  top: 0;
  animation: sk-chase-light-dot 2s infinite ease-in-out both;
}

.sk-chase-light-dot:before {
  content: "";
  display: block;
  width: 25%;
  height: 25%;
  background-color: #fff;
  border-radius: 100%;
  animation: sk-chase-light-dot-before 2s infinite ease-in-out both;
}

.sk-chase-light-dot:nth-child(1) {
  animation-delay: -1.1s;
}
.sk-chase-light-dot:nth-child(2) {
  animation-delay: -1s;
}
.sk-chase-light-dot:nth-child(3) {
  animation-delay: -0.9s;
}
.sk-chase-light-dot:nth-child(4) {
  animation-delay: -0.8s;
}
.sk-chase-light-dot:nth-child(5) {
  animation-delay: -0.7s;
}
.sk-chase-light-dot:nth-child(6) {
  animation-delay: -0.6s;
}
.sk-chase-light-dot:nth-child(1):before {
  animation-delay: -1.1s;
}
.sk-chase-light-dot:nth-child(2):before {
  animation-delay: -1s;
}
.sk-chase-light-dot:nth-child(3):before {
  animation-delay: -0.9s;
}
.sk-chase-light-dot:nth-child(4):before {
  animation-delay: -0.8s;
}
.sk-chase-light-dot:nth-child(5):before {
  animation-delay: -0.7s;
}
.sk-chase-light-dot:nth-child(6):before {
  animation-delay: -0.6s;
}

@keyframes sk-chase-light {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes sk-chase-light-dot {
  80%,
  100% {
    transform: rotate(360deg);
  }
}

@keyframes sk-chase-light-dot-before {
  50% {
    transform: scale(0.4);
  }
  100%,
  0% {
    transform: scale(1);
  }
}

.sk-chase-dark {
  width: 50px;
  height: 70px;
  position: relative;
  animation: sk-chase-dark 2.5s infinite linear both;
}

.sk-chase-dark-dot {
  width: 100%;
  height: 100%;
  position: absolute;

  left: 0;
  top: 0;
  animation: sk-chase-dark-dot 2s infinite ease-in-out both;
}

.sk-chase-dark-dot:before {
  content: "";
  display: block;
  width: 25%;
  height: 25%;
  background-color: rgb(5, 24, 131);
  border-radius: 100%;
  animation: sk-chase-dark-dot-before 2s infinite ease-in-out both;
}

.sk-chase-dark-dot:nth-child(1) {
  animation-delay: -1.1s;
}
.sk-chase-dark-dot:nth-child(2) {
  animation-delay: -1s;
}
.sk-chase-dark-dot:nth-child(3) {
  animation-delay: -0.9s;
}
.sk-chase-dark-dot:nth-child(4) {
  animation-delay: -0.8s;
}
.sk-chase-dark-dot:nth-child(5) {
  animation-delay: -0.7s;
}
.sk-chase-dark-dot:nth-child(6) {
  animation-delay: -0.6s;
}
.sk-chase-dark-dot:nth-child(1):before {
  animation-delay: -1.1s;
}
.sk-chase-dark-dot:nth-child(2):before {
  animation-delay: -1s;
}
.sk-chase-dark-dot:nth-child(3):before {
  animation-delay: -0.9s;
}
.sk-chase-dark-dot:nth-child(4):before {
  animation-delay: -0.8s;
}
.sk-chase-dark-dot:nth-child(5):before {
  animation-delay: -0.7s;
}
.sk-chase-dark-dot:nth-child(6):before {
  animation-delay: -0.6s;
}

@keyframes sk-chase-dark {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes sk-chase-dark-dot {
  80%,
  100% {
    transform: rotate(360deg);
  }
}

@keyframes sk-chase-dark-dot-before {
  50% {
    transform: scale(0.4);
  }
  100%,
  0% {
    transform: scale(1);
  }
}
